/* Banner with video */
.primary-btn{
    background: #ffffff;
    color: #000000;
    display: inline-block;
    padding: 10px 35px;
    font-size: 18px;
    text-transform:capitalize;
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
    border: 2px solid #fff;
    transition: .2s all;
}

/* Cuando al boton se le pone el mouse encima */
.primary-btn:hover{
    background: #1b1b1b;
    color: #fff;
    border: 2px solid #fff;
}

.video-section{
    object-fit: cover;
    width: 100%;
    height: 100vh;
}

.banner{
    position:relative;
    height: 100vh;
}

.banner::after{
    position:absolute;
    content: '';
    background-color: #3e3e3e;
    inset: 0;
    height: 100%;
    width: 100%;
    opacity: 0.4;
}

.banner-content h1{
    font-size: 6vw;
    color: rgb(251, 176, 59);
    text-transform: capitalize;
    line-height: 73px;
}

.banner-content{
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    content: '';
    text-align: center;
    top:50%;
    transform: translateY(-55%);
    z-index: 9;
}

.banner-content p{
    color: #000;
    max-width: 710px;
    width: 100%;
    margin: 0 auto;
    padding: 25px 0px 33px;
    font-size: 25px;
}


/* Galery  */
body {
    background-image: linear-gradient(to top, #ecedee 0%, #eceeef 75%, #e7e8e9 100%);
    min-height: 100vh;
    font: normal 16px sans-serif;
    padding: 60px 0;
}

.container.gallery-container {
    background-color: #fff;
    color: #35373a;
    min-height: 100vh;
    border-radius: 20px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.06);
}

.gallery-container h1 {
    text-align: center;
    margin-top: 70px;
    font-family: 'Droid Sans', sans-serif;
    font-weight: bold;
}

.gallery-container p.page-description {
    text-align: center;
    max-width: 800px;
    margin: 25px auto;
    color: #888;
    font-size: 18px;
}

.tz-gallery {
    padding: 40px;
}

.tz-gallery .lightbox img {
    width: 100%;
    margin-bottom: 30px;
    transition: 0.2s ease-in-out;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}


.tz-gallery .lightbox img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0,0,0,0.3);
}

.tz-gallery img {
    border-radius: 4px;
}

.baguetteBox-button {
    background-color: transparent !important;
}


@media(max-width: 768px) {
    body {
        padding: 0;
    }

    .container.gallery-container {
        border-radius: 0;
    }
}



/* nav bar */
.nav{
    display: flex;
    align-items: center;
}

.nav ol{
    display: flex;
    list-style: none;
}

.btn{
    position: relative;
    width: 25px;
    height: 25px;
    -webkit-appearance: none;
    appearance: none;
    cursor:pointer;
    display: none;
}

.btn::before{
    content: '\f0c9';
    position: absolute;
    top: 0;
    left: 0;
    font-family: 'Font Awesome 5 Free';
    font-weight: 700;
    font-size: 2em;
}

.nav ol li {
    margin: lem;
}

.nav ol li a{
    text-decoration: none;
    padding: 0.2em 1.2em 0.9em 1.2em;
    border-radius: 10px 10px 0 0;
    color: rgb(39, 39, 39);
    transition: all .4s;
    position: relative;
    z-index: 1
}

.nav ol li a::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 41px;
    border-radius: 10px 10px 0 0;
    background: #853333;
    transform-origin: bottom;
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
    transform: scaleY(0.05);
    z-index: -1;
    transition: all .4s;
}


.nav ol li a:hover::before{
    transform: scaleY(1.1);
}

.nav ol li a:hover{
    color: white;
}


@media (max-width: 1200px){
    .btn{
        display: flex;
        z-index: 100;
    }

    header{
        justify-content: space-between;
        padding: 0 2em;
    }

    .nav{
        width:100%;
        position: absolute;
        top:0;
        left:0;
        display: flex;
        justify-content: center;
        background: #f8f8f8;
        transform: translateY(-110%);
        transition: all .4s;
    }

    input:checked ~ .nav{
        transform: translateY(0%);
    }

    input::checked::before{
        content: '\f00d';
    }
}


.PageBackground{
    /* Imagen del fondo */
    background: #0000;
    /* Opacidad del fondo y alineacion */
    background-color: rgba(0, 0, 0, 0.3);
    background-size: cover;
    background-position: center;
}

.Portada{
    /* Size of the gif */
    width: 1100px;
    height: 500px;
    /* Font Colour */
    color: yellow;
    /* Background colour */
    background: url(https://media.tenor.com/images/b7939d73d32cb3ce5e48a80dd35dc599/tenor.gif) #0000;
    /* Opacity and position */
    background-color: rgba(0, 0, 0, 0.3);
    background-blend-mode: darken;
    background-size: cover;
    background-position: center;
}

.card-body{
    text-align:center;
}

/* this will center both, the image and the text */
.center{
    height: 335px;

    display: block;
    margin: auto;
    text-align: center;

    font-size: 20px;
    font-family: Arial;
    color: black;
}

/* this will cover only the header of Contact */
.ContactHeader{
    /* font size */
    font-size: 24px;
    font-family: Arial;
    /* letter´s colour */
    color: black;
}



.wrapper{
    display: flex;
}

.wrapper .icon{
    position: relative;
    background-color: #fff;
    border-radius: 50%;
    padding: 15px;
    margin: 10px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 2px 6px 14px 3px #000000;
    cursor:pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip{
    position:absolute;
    top:0;
    font-size: 14px;
    background-color: #fff;
    color: #fff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before{
    position: absolute;
    content: '';
    height: 8px;
    width: 8px;
    background-color: #fff;
    bottom:-3px;
    left:50%;
    transform; translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

/* Por bloque */
.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before{
    background-color: #fc0580;
    color: #fff;
}



.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before{
    background-color: #0228ff;
    color: #fff;
}



.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before{
    background-color: #02afff;
    color: #fff;
}

.wrapper .twitch:hover,
.wrapper .twitch:hover .tooltip,
.wrapper .twitch:hover .tooltip::before{
    background-color: #8d02ff;
    color: #fff;
}


.wrapper .icon:hover .tooltip{
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip{
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

footer{
    display: grid;
    justify-items: center;
}



/* Slider automatico  */
.cotenedor-corredor{
    width: 90%;
    max-width: 900px;
    margin: auto;
    overflow: hidden;
    /* Se puede sacar */
    box-shadow: 0 0 0 10px #fff
                0 15px 50px;
    position: relative;
}

.corredor{
    display: flex;
    /*+100 al porciento x imagen */
    width: 400%;
    height: 400px;
    margin-left: -100%;
}

.corredor--section{
    width: 100%;
}

.corredor__img{
    display: block;
    width: 100%;
    height: 400px;

}

.corredor_btn{
    position: absolute;
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.5);
    top:50%;
    transform: translateY(-50%);
    font-size: 30px;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
    border-radius: 50%;
    cursor:pointer;
}

.corredor_btn:hover{
    background: #fff;
}

.corredorbtnderecha{
    right: 10px;
}

.corredorbtnizquierda{
    left: 10px;
}

/* Titulo anterior a slider */
h1{

    position: relative;
    font-family: 'Dancing Script', cursive;
}

h1::after,h1::before{
    content: '';
    position: absolute;
    width: 120px;
    height: 10px;
    color: rgb(251, 176, 59);
    background-color: currentColor;
    top:0.6em;
    transform: scale(0);
    transition: all 0.4s ease-in;
}

h1:hover::before, h1:hover::after{
    transform: scale(1);
}

h1::before{
    left: -140px;
}

h1::after{
    right: -140px;
}
